{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

     <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>



{#    <div class="container d-flex flex-column align-items-center justify-content-center mt-3">#}
{#    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center mt-3">#}

{#              <div class="d-flex justify-content-center py-4 mt-3">#}
{#                <a href="{{path('app_main')}}" class="logo d-flex align-items-center w-auto">#}
{#                  <img src="assets/img/logo.png" alt="">#}
{#                  <span class="d-none d-lg-block">NiceAdmin</span>#}
{#                </a>#}
{#              </div><!-- End Logo -->#}

{#              <div class="card mb-3">#}

{#                <div class="card-body">#}

{#                  <div class="pt-4 pb-2">#}
{#                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>#}
{#                    <p class="text-center small">Enter your username &amp; password to login</p>#}
{#                  </div>#}

{#                  <form class="row g-3 needs-validation" novalidate="">#}

{#                    <div class="col-12">#}
{#                      <label for="yourUsername" class="form-label">Username</label>#}
{#                      <div class="input-group has-validation">#}
{#                        <span class="input-group-text" id="inputGroupPrepend">@</span>#}
{#                        <input type="text" name="email" class="form-control" id="yourUsername" required="" value="{{ last_username }}">#}
{#                        <div class="invalid-feedback">Please enter your username.</div>#}
{#                      </div>#}
{#                    </div>#}

{#                    <div class="col-12">#}
{#                      <label for="yourPassword" class="form-label">Password</label>#}
{#                      <input type="password" name="password" class="form-control" id="yourPassword" required="">#}
{#                      <div class="invalid-feedback">Please enter your password!</div>#}
{#                    </div>#}

{#                    <div class="col-12">#}
{#                      <div class="form-check">#}
{#                        <input class="form-check-input" type="checkbox" name="_remember_me" value="true" id="rememberMe">#}
{#                        <label class="form-check-label" for="rememberMe">Remember me</label>#}
{#                      </div>#}
{#                    </div>#}
{#                    <div class="col-12">#}
{#                      <button class="btn btn-primary w-100" type="submit">Login</button>#}
{#                    </div>#}
{#                    <div class="col-12">#}
{#                      <p class="small mb-0">Don't have account? <a href="{{path('app_register')}}">Create an account</a></p>#}
{#                    </div>#}
{#                  </form>#}

{#                </div>#}
{#              </div>#}

{#            <input type="hidden" name="_csrf_token"#}
{#           value="{{ csrf_token('authenticate') }}">          #}

{#            </div>#}

{#    </div>#}

{#    #}
{#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#        See https://symfony.com/doc/current/security/remember_me.html#}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>


     <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}


