{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}





    <div class="user-login">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="section-title">
                    <h2><b>إنشاء حساب</b></h2>
                </div>
            </div>
        </div> <!-- end of row -->

        <div class="row">
            {{ form_start(registrationForm) }}
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 offset-xl-2">
                <div class="registration-form login-form">
                    <form action="#">
                        <div class="login-info mb-half">
                            <b><p style="text-align:center;">هل لديك حساب؟<br><a href="login.html">تسجيل الدخول بدلا من ذلك!</a></p></b><br>

                            <p style="text-align:center;">
                                <a href="#" class="btn btn-block btn-twitter"> <i class="fa fa-twitter"></i> &nbsp; Login via Twitter</a>
                                <a href="#" class="btn btn-block btn-facebook"> <i class="fa fa-facebook"></i> &nbsp; Login via facebook</a>
                                <a href="#" class="btn btn-block btn-google"> <i class="fa fa-google"></i> &nbsp; Login via Gmail</a>
                            </p><br><br><br>


                            <div class="form-group input-group">
                                {{ form_row(registrationForm.username) }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input name="" class="form-control" placeholder="الاسم الكامل" type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                <input name="" class="form-control" placeholder="عنوان البريد الإلكتروني" type="email">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
                                    </div>
                                    <select class="form-control">
                                        <option selected="">اختر دولة</option>
                                        <option>الكويت</option>
                                        <option>المملكة العربية السعودية</option>
                                        <option>دولة قطر</option>
                                        <option>العراق</option>
                                        <option>دولة اخرى</option>
                                    </select>
                                </div>
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                </div>
                                <select class="custom-select" style="max-width: 120px;">
                                    <option selected="">+965</option>
                                    <option value="1">+974</option>
                                    <option value="2">+966</option>
                                    <option value="3">+964</option>
                                </select>
                                <input name="" class="form-control" placeholder="رقم التليفون" type="text">
                            </div> <!-- form-group// -->
                            <!-- form-group end.// -->
                            <!-- form-group end.// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" placeholder="أنشئ كلمة مرور" type="password">
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" placeholder="اعد كلمة السر" type="password">
                            </div> <!-- form-group// -->



                        </div>



                        <div class="form-check row p-0 mt-5">
                            <div class="col-12 col-sm-12 col-md-8 offset-md-4 col-lg-6 offset-lg-4">
                                <div class="custom-checkbox">
                                    <input class="form-check-input" type="checkbox" id="offer">
                                    <span class="checkmark"></span>
                                    <label class="form-check-label" for="offer"><b>تلقي العروض من شركائنا</b></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-check row p-0 mt-4">
                            <div class="col-12 col-sm-12 col-md-8 offset-md-4 col-lg-8 offset-lg-4">
                                <div class="custom-checkbox">
                                    <input class="form-check-input" type="checkbox" id="subscribe" required="">
                                    <span class="checkmark"></span>
                                    <label class="form-check-label" for="subscribe"><b>سجل للحصول على اخر اخبارنا</b><br><b>اشترك في نشراتنا الإخبارية الآن وكن على اطلاع دائم بالمجموعات الجديدة وأحدث كتب البحث والعروض الحصرية ..</b></label>
                                </div>
                            </div>
                        </div>
                        <div class="register-box d-flex justify-content-end mt-half">
                            <button type="submit" class="default-btn tiny-btn">تسجيل</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




















        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

    {{ form_row(registrationForm.country) }}
    {{ form_row(registrationForm.mobilephone) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}
